body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: grey;
  color: white;
}
h1 {
  text-align: center;
}

.container {
  /* border: 2px black solid; */
  margin: auto;
  padding: 2rem;
  max-width: 900px;
  text-align: center;
}

label,
input {
  margin-top: 1rem;
  max-width: 100%;
  text-align: center;
  padding: 0.9rem;
  outline: none;
}

#calNotes {
  border: 2px solid blanchedalmond;
  background: none;
  padding: 0.5rem;
  color: white;
}

#calNotes:hover {
  background: black;
  border-radius: 2rem;
}

.container table {
  background: white;
  color: black;
  padding: 1rem;
  margin: auto;
}

table td {
  padding: 0.4rem;
}
